.astro-code {
  font-family: var(--font-mono);
  font-size: 0.875rem;
  line-height: 1.7;
  padding: var(--space-4);
  border-radius: var(--radius);
  overflow-x: auto;
  margin-bottom: var(--space-4);
  border: 1px solid var(--border);
}

[data-theme="light"] .astro-code {
  background-color: var(--code-bg) !important;
}

[data-theme="dark"] .astro-code {
  background-color: var(--code-bg) !important;
}

[data-theme="dark"] .astro-code span {
  color: var(--shiki-dark) !important;
}
